<h2>Recent Posts:</h2><hr>
<div><% @results.each do |post| %>
<p style="white-space: pre-wrap;">
<%=post['content']%>
</p>
</br>
[Created (UTC): <%=post['created_date']%>]
</br>
<a href="/post/<%=post['id']%>">Comments</a>
<hr>
<%end%>
</div>