<h2>Recent Posts:</h2><hr>
<div><% @results.each do |post| %>
<p>
<b><%=post['author']%></b> has posted at <%=post['created_date']%> (UTC):
</p>
<p style="white-space: pre-wrap;">
<%=post['content']%>
</p>
</br>
<a href="/post/<%=post['id']%>">Comments</a>
<hr>
<%end%>
</div>